.sex-container {
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.0);

    >h3 {
        text-align: center;
    }
}

.mat-button-toggle-group {
    display: flex;
    justify-content: center;
}

.mat-button-toggle{
    padding: 0 35px;
}